* {
    box-sizing: border-box;
}

h1 {
    background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTVvN2xjNmJmY2c1dnViNHN4ZTQ2cjZ2MWx3bHRzZ3llYjB4eXl4eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3q3SUqPnxZGQpMNcjc/giphy.gif);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 4rem;
    margin: 0px 2.5rem;
    -webkit-text-stroke: 2px #A6C48A;
}

#map {
    height: 30rem;
    width: 33%;
    margin-top: 1rem;
    max-height: 50%;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 15px;
}

body {
    font-family: "Ubuntu", Arial, sans-serif;
    background-image: linear-gradient(0, #FCF6BD, #FF99C8);
    background-size: 100% 300%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FCF6BD;
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-color: #A9DEF9;
    border-block-width: 7px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
}

.menu li {
    padding: 1% 3% 1% 3%;
    margin-right: 2rem;
    color: #16425b;
    background: linear-gradient(to bottom right, #E4C1F9, #FF99C8);
    border-style: solid;
    border-color: #A9DEF9;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.menu li:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(245, 244, 244, 0.5), -.125rem -.125rem 1rem rgba(7, 129, 39, 0.713), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.menu li:not([disabled]):hover {
    background: #16425b;
    color: #A9DEF9;
    box-shadow: 0 0 .25rem rgba(251, 249, 249, 0.5), -.125rem -.125rem 1rem rgba(50, 106, 208, 0.657), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


.loginModal {
    background-color: #FCF6BD;
    border-color: #A9DEF9;
    display: none;
    top: 40%;
    z-index: 99999;
    width: 19rem;
    height: 10rem;
    border-radius: 15px;
    overflow: auto;
    color: #FF99C8;
}

.loginModal input {
    background: #D0F4DE;
    border-radius: 5px;
}

dialog::backdrop {
    backdrop-filter: blur(10px);
}

.loginModal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10% 5% 0% 5%;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.close {
    color: #aaa;
    position: absolute; /* Add this line */
    right: 10px; /* Add this line */
    top: 10px; /* Add this line */
    font-size: 28px;
    font-weight: bold;
}

.registerDiv {
    font-size: 80%;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

#modalLoginButton {
    margin-left: auto;
    background: linear-gradient(0, #FF99C8, #E4C1F9);
    border-radius: 10px;
    border: solid #A9DEF9;
    padding: 5px;
}

#modalLoginButton:hover {
    background: #16425b;
    color: #A9DEF9;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h4 {
    color: #FF99C8;
    text-align: center;
    font-size: larger;
    text-align: center;
}

section h4 {
}

.register {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.restaurantContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

section {
    border-radius: 15px;
    margin: 1rem;
    width: 33%;
    height: 30rem;
    overflow: auto;
    max-height: 50%;
    background-color: #FCF6BD;
    color: #FF99C8;
    box-shadow: rgba(14, 30, 37, 0.36) 0px 10px 20px 5px, #A9DEF9 0px 0px 10px 5px;
}


.menu li a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 4%;
}

.registerModal {
    display: none;
    flex-direction: column;
    top: 30%;
    right: 0%;
    background-color: #D0F4DE;
    border-color: #A9DEF9;
    width: 24rem;
    height: 19rem;
    z-index: 99999;
    border-radius: 15px;
    overflow: auto;
    color: #FF99C8;
}

#registerButton {
    margin-top: 20%;
    width: 30%;

}

.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.registerContainer label {
    margin-right: 1rem;
}

.registerContainer input {
    margin-right: 5rem;
}

.avatar {
}

.registerContainer div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin: 10% 30% 0% 0%;
}

#registerLabel:hover {
    color: #A9DEF9;
    cursor: pointer;
}

.profileContainer ul {
    list-style-type: none;
}


.profileContainer ul li {
    margin-bottom: 1%;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;

}

.submitDialog {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 40%;
    background-color: #517d9e;
}

.submitDialog button {
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1%;
}

.submitDialog span {
    position: absolute;
    top: 0;
    right: 0;
}

.profileForm label {
    margin-right: 4rem;
}

.profileForm input {
    margin-top: 10px;
    width: 100%;
}


.menuTable {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuTable td {
    border-bottom: solid #A9DEF9;
    padding: 15px 0px 0px 0px;
    border-bottom-width: 2px;
}

.menuTable th {
    color: #E4C1F9;
    border-bottom: #A9DEF9 solid;
    padding: 5rem 0 0 0;}

#dailyLink {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border:1px solid rgba(255,255,255,0);
    background-image: linear-gradient(#FCF6BD, #FF99C8);
    border:2px solid #E4C1F9;


}

#dailyLink:hover {
    transition: all 0.1s ease-in;
    background-image: linear-gradient(#FF99C8, #FCF6BD);
    background-position:150% top;
    box-shadow: 0 0 5px 5px #A9DEF9;
    scale: 1.01;
}

#weeklyLink {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border:1px solid rgba(255,255,255,0);
    background-image: linear-gradient(#FCF6BD, #FF99C8);
    border:2px solid #E4C1F9;
}

#weeklyLink:hover {
    transition: all 0.1s ease-in;
    background-image: linear-gradient(#FF99C8, #FCF6BD);
    background-position:150% top;
    box-shadow: 0 0 5px 5px #A9DEF9;
    scale: 1.01;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #A6C48A;
}

#dailyWeekly {
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
    font-family: "Raleway", sans-serif;
    font-style: normal;
    background: transparent 1% 50%;
    background-size: 300% 300%;
    color:#fff;
    display: flex;
    justify-content: space-evenly;
    color: midnightblue;
}

.nearbyRestaurants {
    height: 100%;
    margin-left: 10px;
}

.nearbyRestaurants th {
    text-align: left;
}

.nearbyRestaurants td {

}

.sorts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sorts th:hover {
    cursor: pointer;
    color: #D0F4DE;
}

.profileTable {
    display: flex;
    flex-direction: row;
    border-collapse: separate;
    border-spacing: 10rem 1rem;
}


.registerContainer {
    display: flex;
    flex-direction: column;
}

.profileItem {
    display: none;
    flex-direction: column;
    height: 7rem;
    width: 14rem;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #5e5e5e21;
    border-radius: 20px;
}


#loginButton {
    background: linear-gradient(0, #A9DEF9, #D0F4DE);
    border-radius: 9px;
    color: #16425b;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bold;
}

#loginButton:hover {
    box-shadow: 0 0 .25rem rgba(255, 255, 255, 0.5), -.125rem -.125rem 1rem rgba(50, 106, 208, 0.657), .125rem .125rem 1rem rgba(114, 116, 119, 0.43);
    transform: scale(1.05) rotate(-1deg);
}

#favoriteIcon {
    width: 20%;
    height: 20%;
}

#favoriteIcon:hover {
    cursor: pointer;
    scale: 1.2;
}


@media (max-width: 500px) {
    section {
        width: 50%;
    }

    #map {
        width: 50%;
        height: 50vh;
    }
}

@media (max-width: 800px) {
    .restaurantContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
